<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>사업자 - 메인페이지</title>
    <link rel="stylesheet" href="../../businessOperatorPage/style.css" />
    <link rel="stylesheet" href="../../businessOperatorPage/service_style.css" />
  </head>
  <body>
    <!--header logo 부분 시작-->
    <div class="nav_menu">
      <a href="/" class="_menu">ㅍㅎㄴㄹ</a>
      <!--카테고리 메뉴바-->
      <div>
          <ul id="mainline">
              <li>
                  <span class="category_menu">카테고리</span>
                  <ul>
                      <li data-url="/furniture">
                          <span>가구</span>
                      </li>
                      <li data-url="/elec">
                          <span>전자기기</span>
                      </li>
                      <li data-url="/daily">
                          <span>생활용품</span>
                      </li>
                      <li data-url="/hobby">
                          <span>취미</span>
                      </li>
                      <li data-url="/beauty">
                          <span>뷰티</span>
                      </li>
                  </ul>
              </li>
              <li>
                  <span class="all_menu">전체</span>
              </li>
              <li>
                  <span class="funding_menu">펀딩예정</span>
              </li>
              <li>
                  <span class="earlybird_menu">얼리버드</span>
              </li>
          </ul>
      </div>

      <a href="/mypage" class="main_login">마이페이지</a>
      <a href="/logout" class="main_signup">로그아웃</a>
      <div id="wrap">
          <form action="/search" post="get" autocomplete="on">
              <input id="search" name="search" type="text" placeholder="얼리버드 특가 " />
              <input id="search_submit" value="Rechercher" type="submit" />
          </form>
      </div>
  </div>

<!--매인 페이지-->
    <div class="all-area">
      <div id="header-container">
        <div id="first-span">
          <img src="../../businessOperatorPage/img/펀한누리.jpg">
        </div>
        <div id="my-name" class="user-name">
          펀한누리(주)
        </div>
        <div class="name-constents on">
          사업체 명 : xxx(주)<br>
          계좌번호 : 111-123456-789-012<br>
          전화번호 : 010-xxxx-xxxx
        </div>
        <button class="funding-charge">
          펀딩 등록하기
        </button>
      </div>
      
      <div class="main_option_box">
        <div class="body-container">
          <section class="faq-contents">
            <div id="first-q">
              <div id="object_first" class="object_option">
                내 정보
                <div>
                  >
                </div>
              </div>
              <div id="object_second" class="object_option">
                진행중인 펀딩
                <div>
                  >
                </div>
              </div>
              <div id="object_last" class="object_option">
                전체 펀딩
                <div>
                  >
                </div>
              </div>
            </div>

            <div class="first-constents on">
              <% if( division == "1"){ %>
              <div id = "mypage_div">
                <form method="post" action="">
                    <table  class="mypage_table">
                        <tr>
                            <td><label>상호명 : </label></td>
                            <td name="business_name" class = "label_name" > <%= business_name %></td>
                        </tr>
                        <tr>
                            <td><label>사업자 번호 : </label></td>
                            <td name="business_num" class = "label_name" > <%= business_num %> </td>
                        </tr>
                        <tr>
                            <td><label>분야 : </label></td>
                            <td name="field" class = "label_name" > <%= field %> </td>
                        </tr>
                        <tr>
                            <td><label>이름(담당자) : </label></td>
                            <td name="name" class = "label_name" > <%= name %> </td>
                        </tr>
                        <tr>
                            <td><label>아이디 : </label></td>
                            <td name="id" class = "label_name" > <%= id %> </td>
                        </tr>
                        <tr>
                            <td><label>비밀번호 : </label></td>
                            <td name="password" class = "label_name" > <%= password %> </td>
                        </tr>
                        <tr>
                            <td><label>비밀번호 확인 질문 : </label></td>
                            <td name="password_question" class = "label_name" > <%= password_question %> </td>
                        </tr>
                        <tr>
                            <td><label>비밀번호 확인 답변 : </label></td>
                            <td name="password_answer" class = "label_name" > <%= password_answer %> </td>
                        </tr>
                        <tr>
                            <td><label>주소 : </label></td>
                            <td name="address" class = "label_name" > <%= address %> </td>
                        </tr>
                        <tr>
                            <td><label>e-mail : </label></td>
                            <td name="e_mail" class = "label_name" > <%= e_mail %> </td>
                        </tr>
                        <tr>
                            <td><label>전화번호 : </label></td>
                            <td name="phone_number" class = "label_name" > <%= phone_number %> </td>
                        </tr>
                        <tr>
                            <td><label>계좌번호 : </label></td>
                            <td name="account_num" class = "label_name" > <%= account_num %> </td>
                        </tr>
                        <tr>
                            <td colspan="2" id="bt_td">
                                <input id="bt" type="button" value="수정하기">
                            </td>    
                        </tr>
                    </table>
                </form>
              </div>

              <!-- 수정 클릭 시 마이페이지 -->
              <div id = "mypage_div_update">
                <form method="post" action="/update">
                    <table  class="mypage_table2">
                        <tr>
                            <td><label>상호명 : </label></td>
                            <td class="label_name"><input name="business_name" class="label_name" value="<%= business_name %>"></td>
                        </tr>
                        <tr>
                            <td><label>사업자 번호 : </label></td>
                            <td name="business_num" class = "label_name" > <%= business_num %> </td>
                        </tr>
                        <tr>
                            <td><label>분야 : </label></td>
                            <td name="field" class = "label_name" > <%= field %> </td>
                        </tr>
                        <tr>
                            <td><label>이름(담당자) : </label></td>
                            <td name="name" class = "label_name" > <%= name %> </td>
                        </tr>
                        <tr>
                            <td><label>아이디 : </label></td>
                            <td name="id" class="label_name" > <%= id %> </td>
                        </tr>
                        <tr>
                            <td><label>비밀번호 : </label></td>
                            <td class="label_name"> <input name="password" class = "label_name" value="<%= password %>" > </td>
                        </tr>
                        <tr>
                            <td><label>비밀번호 확인 질문 : </label></td>
                            <td name="password_question" class = "label_name" > <%= password_question %> </td>
                        </tr>
                        <tr>
                            <td><label>비밀번호 확인 답변 : </label></td>
                            <td class="label_name"> <input  name="password_answer" class = "label_name" value="<%= password_answer %>"> </td>
                        </tr>
                        <tr>
                            <td><label>주소 : </label></td>
                            <td class="label_name"> <input name="address" class = "label_name" value = "<%= address %>"> </td>
                        </tr>
                        <tr>
                            <td><label>e-mail : </label></td>
                            <td class="label_name"> <input  name="e_mail" class = "label_name" value = "<%= e_mail %>"> </td>
                        </tr>
                        <tr>
                            <td><label>전화번호 : </label></td>
                            <td class="label_name"> <input  name="phone_number" class = "label_name" value = "<%= phone_number %>"> </td>
                        </tr>
                        <tr>
                            <td><label>계좌번호 : </label></td>
                            <td class="label_name"> <input name="account_num" class = "label_name" value = "<%= account_num %>"> </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" value="확인" id="bt2">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
              <% } else if(division == "2"){ %>
                <div id = "mypage_div">
                    <form method="post" action="">
                        <table  class="mypage_table">
                            <tr>
                                <td><label>이름(담당자) : </label></td>
                                <td name="name" class = "label_name" > <%= name %> </td>
                            </tr>
                            <tr>
                                <td><label>아이디 : </label></td>
                                <td name="id" class = "label_name" > <%= id %> </td>
                            </tr>
                            <tr>
                                <td><label>비밀번호 : </label></td>
                                <td name="password" class = "label_name" > <%= password %> </td>
                            </tr>
                            <tr>
                                <td><label>비밀번호 확인 질문 : </label></td>
                                <td name="password_question" class = "label_name" > <%= password_question %> </td>
                            </tr>
                            <tr>
                                <td><label>비밀번호 확인 답변 : </label></td>
                                <td name="password_answer" class = "label_name" > <%= password_answer %> </td>
                            </tr>
                            <tr>
                                <td><label>주소 : </label></td>
                                <td name="address" class = "label_name" > <%= address %> </td>
                            </tr>
                            <tr>
                                <td><label>e-mail : </label></td>
                                <td name="e_mail" class = "label_name" > <%= e_mail %> </td>
                            </tr>
                            <tr>
                                <td><label>전화번호 : </label></td>
                                <td name="phone_number" class = "label_name" > <%= phone_number %> </td>
                            <tr>
                              <td colspan="2" id="bt_td">
                                <input id="bt" type="button" value="수정하기">
                            </td>   
                            </tr>
                        </table>
                    </form>
                </div>
                <!-- 수정 마이페이지 -->
                <div id = "mypage_div_update" >
                  <form method="post" action="/update">
                      <table  class="mypage_table2">
                          <tr>
                              <td><label>이름(담당자) : </label></td>
                              <td name="name" class = "label_name" > <%= name %> </td>
                          </tr>
                          <tr>
                              <td><label>아이디 : </label></td>
                              <td name="id" class="label_name" > <%= id %> </td>
                          </tr>
                          <tr>
                            <td><label>비밀번호 : </label></td>
                            <td class="label_name"> <input name="password" class = "label_name" value="<%= password %>" > </td>
                        </tr>
                        <tr>
                            <td><label>비밀번호 확인 질문 : </label></td>
                            <td name="password_question" class = "label_name" > <%= password_question %> </td>
                        </tr>
                        <tr>
                            <td><label>비밀번호 확인 답변 : </label></td>
                            <td class="label_name"> <input  name="password_answer" class = "label_name" value="<%= password_answer %>"> </td>
                        </tr>
                        <tr>
                            <td><label>주소 : </label></td>
                            <td class="label_name"> <input name="address" class = "label_name" value = "<%= address %>"> </td>
                        </tr>
                        <tr>
                            <td><label>e-mail : </label></td>
                            <td class="label_name"> <input  name="e_mail" class = "label_name" value = "<%= e_mail %>"> </td>
                        </tr>
                        <tr>
                            <td><label>전화번호 : </label></td>
                            <td class="label_name"> <input  name="phone_number" class = "label_name" value = "<%= phone_number %>"> </td>
                        </tr>
                            <td colspan="2">
                              <input type="submit" value="확인" id="bt2">
                            </td>
                          </tr>
                      </table>
                  </form>
              </div>
                <% } %>
            </div>
            
            <div class="second-constents on">
              <div id="first-one">
                <img src="../../businessOperatorPage/img/대표이미지.png" class="img-style-two">
                <h4>상품명(1번상품)</h4>
                <label class="per_font">제품 상세 내용</label>
                <div class="progress">
                  <div class="progress-done" data-done="90"></div>
                </div>
                <span class="per_style">90%</span>
              </div>
              <hr style="width: 95%" />

              <div class="first-first-one">
                <div>
                  <label class="list_set_option"> 1번제품</label>
                  <label class="list_set_option_p">금액 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count" placeholder="915,000">
                  <label class="list_set_option_p">원</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count_2" placeholder="150">
                  <label class="list_set_option_l">개</label>
                </div>
                
                <hr style="width: 95%" />
                <div> 
                  <label class="list_set_option"> 2번제품</label>
                  <label class="list_set_option_p">금액 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count" placeholder="38,000">
                  <label class="list_set_option_p">원</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count_2" placeholder="1200">
                  <label class="list_set_option_l">개</label>
                </div>
                <hr style="width: 95%" />
                <div>
                  <label class="list_set_option"> 3번제품 </label>
                  <label class="list_set_option_p">금액 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count" placeholder="15,000">
                  <label class="list_set_option_p">원</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count_2" placeholder="500">
                  <label class="list_set_option_l">개</label>
                </div>
                <hr style="width: 95%" />
                <div>
                  <label class="list_set_option_name"> 전체개수 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_final" placeholder="2000">
                  <label class="list_set_option_k">개</label><br>
                  <label class="list_set_option_name">판매개수 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_final" placeholder="1850">
                  <label class="list_set_option_k">개</label><br>
                  <hr style="width: 95%" />
                  <label class="list_set_option_a">총 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count_3" placeholder="190,350,000">
                  <label class="list_set_option_b">원</label>
                </div>
              </div>

              <div id="second-one">
                <img src="../../businessOperatorPage/img/대표이미지.png" class="img-style-two">
                <h4>상품명(2번상품)</h4>
                <label class="per_font">제품 상세 내용</label>
                <div class="progress">
                  <div class="progress-done" data-done="60"></div>
                </div>
                <span class="per_style">60%</span>
              </div>
              <hr style="width: 95%" />

              <div class="second-second-one">
                <div>
                  <label class="list_set_option"> 1번제품</label>
                  <label class="list_set_option_p">금액 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count" placeholder="915,000">
                  <label class="list_set_option_p">원</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count_2" placeholder="150">
                  <label class="list_set_option_l">개</label>
                </div>
                
                <hr style="width: 95%" />
                <div> 
                  <label class="list_set_option"> 2번제품</label>
                  <label class="list_set_option_p">금액 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count" placeholder="38,000">
                  <label class="list_set_option_p">원</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count_2" placeholder="1200">
                  <label class="list_set_option_l">개</label>
                </div>
                <hr style="width: 95%" />
                <div>
                  <label class="list_set_option"> 3번제품 </label>
                  <label class="list_set_option_p">금액 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count" placeholder="15,000">
                  <label class="list_set_option_p">원</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count_2" placeholder="500">
                  <label class="list_set_option_l">개</label>
                </div>
                <hr style="width: 95%" />
                <div>
                  <label class="list_set_option_name"> 전체개수 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_final" placeholder="2000">
                  <label class="list_set_option_k">개</label><br>
                  <label class="list_set_option_name">판매개수 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_final" placeholder="1850">
                  <label class="list_set_option_k">개</label><br>
                  <hr style="width: 95%" />
                  <label class="list_set_option_a">총 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count_3" placeholder="190,350,000">
                  <label class="list_set_option_b">원</label>
                </div>
              </div>
            </div>
            
            <div class="last-constents on">
              <div id="first-two">
                <img src="../../businessOperatorPage/img/대표이미지.png" class="img-style-two">
                <h4>상품명(1번상품)</h4>
                <label class="per_font">제품 상세 내용</label>
                <div class="progress">
                  <div class="progress-done" data-done="90"></div>
                </div>
                <span class="per_style">90%</span>
              </div>
              <hr style="width: 95%" />

              <div class="first-first-two">
                <div>
                  <label class="list_set_option"> 1번제품</label>
                  <label class="list_set_option_p">금액 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count" placeholder="915,000">
                  <label class="list_set_option_p">원</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count_2" placeholder="150">
                  <label class="list_set_option_l">개</label>
                </div>
                
                <hr style="width: 95%" />
                <div> 
                  <label class="list_set_option"> 2번제품</label>
                  <label class="list_set_option_p">금액 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count" placeholder="38,000">
                  <label class="list_set_option_p">원</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count_2" placeholder="1200">
                  <label class="list_set_option_l">개</label>
                </div>
                <hr style="width: 95%" />
                <div>
                  <label class="list_set_option"> 3번제품 </label>
                  <label class="list_set_option_p">금액 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count" placeholder="15,000">
                  <label class="list_set_option_p">원</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count_2" placeholder="500">
                  <label class="list_set_option_l">개</label>
                </div>
                <hr style="width: 95%" />
                <div>
                  <label class="list_set_option_name"> 전체개수 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_final" placeholder="2000">
                  <label class="list_set_option_k">개</label><br>
                  <label class="list_set_option_name">판매개수 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_final" placeholder="1850">
                  <label class="list_set_option_k">개</label><br>
                  <hr style="width: 95%" />
                  <label class="list_set_option_a">총 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count_3" placeholder="190,350,000">
                  <label class="list_set_option_b">원</label>
                </div>
              </div>

              <div id="second-two">
                <img src="../../businessOperatorPage/img/대표이미지.png" class="img-style-two">
                <h4>상품명(2번상품)</h4>
                <label class="per_font">제품 상세 내용</label>
                <div class="progress">
                  <div class="progress-done" data-done="60"></div>
                </div>
                <span class="per_style">60%</span>
              </div>
              <hr style="width: 95%" />

              <div class="second-second-two">
                <div>
                  <label class="list_set_option"> 1번제품</label>
                  <label class="list_set_option_p">금액 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count" placeholder="915,000">
                  <label class="list_set_option_p">원</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count_2" placeholder="150">
                  <label class="list_set_option_l">개</label>
                </div>
                
                <hr style="width: 95%" />
                <div> 
                  <label class="list_set_option"> 2번제품</label>
                  <label class="list_set_option_p">금액 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count" placeholder="38,000">
                  <label class="list_set_option_p">원</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count_2" placeholder="1200">
                  <label class="list_set_option_l">개</label>
                </div>
                <hr style="width: 95%" />
                <div>
                  <label class="list_set_option"> 3번제품 </label>
                  <label class="list_set_option_p">금액 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count" placeholder="15,000">
                  <label class="list_set_option_p">원</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count_2" placeholder="500">
                  <label class="list_set_option_l">개</label>
                </div>
                <hr style="width: 95%" />
                <div>
                  <label class="list_set_option_name"> 전체개수 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_final" placeholder="2000">
                  <label class="list_set_option_k">개</label><br>
                  <label class="list_set_option_name">판매개수 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_final" placeholder="1850">
                  <label class="list_set_option_k">개</label><br>
                  <hr style="width: 95%" />
                  <label class="list_set_option_a">총 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count_3" placeholder="190,350,000">
                  <label class="list_set_option_b">원</label>
                </div>
              </div>

              <div id="third-two">
                <div class="funding-done">
                  <img src="../../businessOperatorPage/img/펀한누리.jpg" class="img-style-two">
                  <h4>상품명(3번상품)</h4>
                  <label class="per_font">제품 상세 내용</label>
                  <div class="progress">
                    <div class="progress-done" data-done="60"></div>
                  </div>
                  <span class="per_style">60%</span>
                </div>
                <div class="funding-done-done">
                  <label class="funding-done-font">펀딩완료</label>
                </div>
              </div>

              <div class="third-third-two">
                <div>
                  <label class="list_set_option"> 1번제품</label>
                  <label class="list_set_option_p">금액 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count" placeholder="915,000">
                  <label class="list_set_option_p">원</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count_2" placeholder="150">
                  <label class="list_set_option_l">개</label>
                </div>
                
                <hr style="width: 95%" />
                <div> 
                  <label class="list_set_option"> 2번제품</label>
                  <label class="list_set_option_p">금액 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count" placeholder="38,000">
                  <label class="list_set_option_p">원</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count_2" placeholder="1200">
                  <label class="list_set_option_l">개</label>
                </div>
                <hr style="width: 95%" />
                <div>
                  <label class="list_set_option"> 3번제품 </label>
                  <label class="list_set_option_p">금액 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count" placeholder="15,000">
                  <label class="list_set_option_p">원</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count_2" placeholder="500">
                  <label class="list_set_option_l">개</label>
                </div>
                <hr style="width: 95%" />
                <div>
                  <label class="list_set_option_name"> 전체개수 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_final" placeholder="2000">
                  <label class="list_set_option_k">개</label><br>
                  <label class="list_set_option_name">판매개수 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_final" placeholder="1850">
                  <label class="list_set_option_k">개</label><br>
                  <hr style="width: 95%" />
                  <label class="list_set_option_a">총 :</label>
                  <input type="text" style="text-align: right;" class="list_set_option_count_3" placeholder="190,350,000">
                  <label class="list_set_option_b">원</label>
                </div>
              </div>
            </div>            
          </section>
        </div>
      </div>
    </div>    
<!--여기까지-->
    <hr id="footer-hr" />
    <footer class="footer">
      <div>
        <h3>펀한누리</h3>
        <p>주소 : 경기도 군포시 한세로 30</p>
        <p>고객 문의 : 0509moon@naver.com</p>
        <p>ver. Beta test</p>
      </div>
    </footer>
  </body>
  <script type="text/javascript" src="../jquery-3.6.0.js"></script>
  <script src="../../businessOperatorPage/business_main_style.js"></script>
</html>